<a href="https://colab.research.google.com/github/thetabelini/exercicios_python/blob/main/07_pratica_estudante.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# range()

In [ ]:
print (type (range (3)))

<class 'range'>

In [ ]:
# Inicia uma lista vazia:
print ("Lista vazia:")
lista = list (range (0))
print (lista)

Lista vazia:
[]

In [ ]:
# Inicia uma lista com os inteiros de 0 a 9:
print ("Lista com os inteiros de 0 a 9:")
lista = list (range (10))
print (lista)

Lista com os inteiros de 0 a 9:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Inicia uma lista com os inteiros de 5 a 9:
print ("Lista com os inteiros de 5 a 9:")
lista = list (range (5, 10))
print (lista)

Lista com os inteiros de 5 a 9:
[5, 6, 7, 8, 9]

In [ ]:
# Inicia uma lista com os inteiros de -10 a 8 de 2 em 2:
print ("Lista com os inteiros de -10 a 8 de 2 em 2:")
lista = list (range (-10, 10, 2))
print (lista)

Lista com os inteiros de -10 a 8 de 2 em 2:
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [ ]:
# Inicia uma lista com os inteiros de 10 a -8 de -2 em -2:
print ("Lista com os inteiros de 10 a -8 de -2 em -2:")
print (list (range (10, -10, -2)))
print ("\n")

Lista com os inteiros de 10 a -8 de -2 em -2:
[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [ ]:
# Valores informados pelo usuário:
inicio = int (input ("Informe o início: "))
fim = int (input ("Informe o fim: "))
passo = int (input ("Informe o incremento|decremento: "))

lista = list (range (inicio, fim, passo))
print (lista)

Informe o início: 4
Informe o fim: 16
Informe o incremento|decremento: 2
[4, 6, 8, 10, 12, 14]

# Concatenação

In [ ]:
# Concatenação:
lista1 = list (range (5))
lista2 = list (range (10, 20, 2))
lista = lista1 + lista2

print(lista1)
print(lista2)
print ("Concatenação:")
print (lista)

[0, 1, 2, 3, 4]
[10, 12, 14, 16, 18]
Concatenação:
[0, 1, 2, 3, 4, 10, 12, 14, 16, 18]

In [ ]:
# Concatenação usando a função chain ():
from itertools import chain

print ("Concatenação usando a função chain ():")
concat = chain (range (5), range (10, 20, 2))

print(concat)
print(type(concat))

lista = list (concat)
print (lista)

Concatenação usando a função chain ():
<itertools.chain object at 0x7fbe703f9a30>
<class 'itertools.chain'>
[0, 1, 2, 3, 4, 10, 12, 14, 16, 18]

# slice: []

In [ ]:
# Imprimir a lista da posição de índice 4 até a posição de índice 7:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[4:8])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [4, 5, 6, 7]

In [ ]:
# Imprimir a lista da posição de índice 4 até a posição de índice 7, mas pulando os elementos de 2 em 2:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[4:8:2])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [4, 6]

In [ ]:
# Imprimir a lista da posição de índice 8 até a posição de índice 5:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[8:4:-1])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [8, 7, 6, 5]

In [ ]:
# Imprimir a lista da posição de índice 8 até a posição de índice 5, mas pulando os elementos de 2 em 2:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[8:4:-2])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [8, 6]

In [ ]:
# Imprimir a lista do início ao fim, pulando os elementos de 1 em 1 (forma alternativa 1):
lista = list (range (11))
print ("Lista completa:", lista)
print ("lista completa:", lista[::1])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Imprimir a lista do início ao fim, pulando os elementos de 1 em 1 (forma alternativa 2):
lista = list (range (11))
print ("Lista completa:", lista)
print ("lista completa:", lista[::])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Imprimir a lista do início ao fim, pulando os elementos de 1 em 1 (forma alternativa 3):
lista = list (range (11))
print ("Lista completa:", lista)
print ("lista completa:", lista[:])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Imprimir a lista do início ao fim, mas pulando os elementos de 2 em 2:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[::2])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [0, 2, 4, 6, 8, 10]

In [ ]:
# Imprimir a lista do fim para o início:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[::-1])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# Imprimir uma string do fim para o início:
str = "Ana Conda"
print ("String:", str)
print ("String invertido:", str[::-1])

String: Ana Conda
String invertido: adnoC anA

In [ ]:
# Inverter lista de strings
lista = ["Python", "Ana Conda"]
print ("Lista:", lista)
print ("Lista invertida:", lista[::-1])

Lista: ['Python', 'Ana Conda']
Lista invertida: ['Ana Conda', 'Python']

In [ ]:
# Imprimir a lista do fim para o início, mas pulando os elementos de 2 em 2:
lista = list (range (11))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[::-2])

Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Parte da lista: [10, 8, 6, 4, 2, 0]

In [ ]:
# Valores informados pelo usuário:
inicio = int (input ("Informe o início: "))
fim = int (input ("Informe o fim: "))
passo = int (input ("Informe o incremento|decremento: "))

lista = list (range (10))
print ("Lista completa:", lista)
print ("Parte da lista:", lista[inicio:fim:passo])

Informe o início: 2
Informe o fim: 16
Informe o incremento|decremento: 2
Lista completa: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Parte da lista: [2, 4, 6, 8]

# Acesso a elementos de objeto da classe range

In [ ]:
lista = list(range (10))
print('Lista:', lista)
print()

elemento = range (10)[0]
print("Primeiro elemento:", elemento)

elemento = range (10)[1]
print("\nSegundo elemento:", elemento)

elemento = range (10)[4]
print("\nQuinto elemento:", elemento)

elemento = range (10)[9]
print("\nÚltimo elemento:", elemento)

elemento = range (10)[-1]
print("\nÚltimo elemento:", elemento)

elemento = range (10)[-2]
print("\nPenúltimo elemento:", elemento)

elemento = range (10)[-3]
print("\nAntipenúltimo elemento:", elemento)

Lista: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Primeiro elemento: 0

Segundo elemento: 1

Quinto elemento: 4

Último elemento: 9

Último elemento: 9

Penúltimo elemento: 8

Antipenúltimo elemento: 7

# Matriz

In [ ]:
# Matriz: imprimindo através da função "range ()":
matriz = []
matriz.append (list (range (3)))
matriz.append (list (range (5, 10)))
matriz.append (list (range (2, 10, 2)))
print (matriz)

print()
for i in range (len(matriz)): #Percorre as linhas.
  for j in range (len(matriz[i])): #Percorre as colunas.
    print (matriz[i][j], end = ' ')
  print()

print()
matriz[0][0] = 3
print (matriz)

[[0, 1, 2], [5, 6, 7, 8, 9], [2, 4, 6, 8]]

0 1 2
5 6 7 8 9
2 4 6 8

[[3, 1, 2], [5, 6, 7, 8, 9], [2, 4, 6, 8]]

In [ ]:
# Matriz: imprimindo através das listas em cada linha:
matriz = []
matriz.append (list (range (3)))
matriz.append (list (range (5, 10)))
matriz.append (list (range (2, 10, 2)))
print (matriz)

print()
for linha in matriz:
    for elemento in linha:
        print (elemento, end = ' ')
    print () # end = '\n'

print()
matriz[0][0] = 3
print (matriz)

#Complexidade: O(n^2)

[[0, 1, 2], [5, 6, 7, 8, 9], [2, 4, 6, 8]]

0 1 2
5 6 7 8 9
2 4 6 8

[[3, 1, 2], [5, 6, 7, 8, 9], [2, 4, 6, 8]]

In [ ]:
# Criando uma matriz com n linhas e m colunas e preenchendo cada célula com o valor zero (alternativa 1):
# Matriz de n linhas e m colunas preenchida com o valor zero:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = []
for i in range (n):
    matriz.append ([0] * m)
print (matriz)

matriz[0][0] = 3
print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[3, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# Criando uma matriz com n linhas e m colunas e preenchendo cada célula com o valor 2:
# Matriz de n linhas e m colunas preenchida com o valor zero:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = []
for i in range (n):
    matriz.append ([2] * m)
print (matriz)

matriz[0][0] = 3
print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
[[2, 2, 2, 2], [2, 2, 2, 2], [2, 2, 2, 2]]
[[3, 2, 2, 2], [2, 2, 2, 2], [2, 2, 2, 2]]

In [ ]:
# Criando uma matriz com n linhas e m colunas e preenchendo cada célula com o valor zero (alternativa 2):
# Matriz de n linhas e m colunas preenchida com o valor zero:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))

matriz = [0] * n
print(matriz)

for i in range (n):
    matriz[i] = [0] * m
print (matriz)


matriz[0][0] = 3
print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
[0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[3, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# Criando uma matriz com n linhas e m colunas e preenchendo cada célula com o valor cinco):
# Matriz de n linhas e m colunas preenchida com o valor cinco:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = [1] * n
print(matriz)

for i in range (n):
    matriz[i] = [5] * m
print (matriz)


matriz[0][0] = 3
print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
[1, 1, 1]
[[5, 5, 5, 5], [5, 5, 5, 5], [5, 5, 5, 5]]
[[3, 5, 5, 5], [5, 5, 5, 5], [5, 5, 5, 5]]

In [3]:
# Criando uma matriz com n linhas e m colunas e preenchendo cada célula com o valor zero (alternativa 3):
# Matriz de n linhas e m colunas preenchida com o valor zero:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = [[0] * m for i in range (n)]
print (matriz)


matriz[0][0] = 3
print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[3, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [3]:
# Matriz de n linhas e m colunas informada pelo usuário:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = []
for i in range (n):
  linha = []
  for j in range (m):
    linha.append (int (input ("matriz[%d][%d] = " % (i, j))))
  matriz.append (linha)

print (matriz)

Informe o número de linhas: 4
Informe o número de colunas: 4

KeyboardInterrupt: Interrupted by user

In [1]:
# Matriz de n linhas e m colunas informada pelo usuário:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))

matriz = [[int (input ("matriz[%d][%d] = " % (i, j))) for j in range (m)] for i in range (n)]


print (matriz)

Informe o número de linhas: 3
Informe o número de colunas: 4
matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3
matriz[0][3] = 4
matriz[1][0] = 5
matriz[1][1] = 6
matriz[1][2] = 7
matriz[1][3] = 8
matriz[2][0] =
matriz[2][1] =
matriz[2][2] = 0
matriz[2][3] = -
[['1', '2', '3', '4'], ['5', '6', '7', '8'], ['', '', '0', '-']]

# Exercícios

1.	Escreva um algoritmo que leia uma matriz quadrada informada pelo usuário a partir do teclado. Uma matriz quadrada possui o número de linhas igual ao número de colunas. O algoritmo deve:

  a.	Apresentar a diagonal principal da matriz.

  b.	Apresentar a diagonal secundária da matriz.

In [16]:
import random

n = int (input ("Informe o número de linhas: "))
m = n

matriz = [0] * n


for i in range (n):
  for j in range (m):
      matriz[i] = [random.randint(0, 9)] * m
      if i == j:
        print (matriz[i,j])


print (matriz)

Informe o número de linhas: 5

TypeError: list indices must be integers or slices, not tuple

2.	Escreva um algoritmo que leia os elementos de duas matrizes 5x5 a partir do teclado e que calcule a soma das duas matrizes. Apresente a matriz resultante na tela.

In [ ]:
# Matriz de n linhas e m colunas informada pelo usuário:
n = int (input ("Informe o número de linhas: "))
m = int (input ("Informe o número de colunas: "))
matriz = []
for i in range (n):
  linha = []
  for j in range (m):
    linha.append (int (input ("matriz[%d][%d] = " % (i, j))))
  matriz.append (linha)

print (matriz)

3.	Escreva um algoritmo que leia os elementos de duas matrizes 4x4 a partir do teclado e apresente o resultado da multiplicação da primeira matriz pela segunda.

**Exemplo**:

![image.png]()

# OBS:

In [ ]:
# Preencher vetor com zeros:
vetor = []

vetor = [0 for i in range (4)]

print (vetor)

[0, 0, 0, 0]

In [ ]:
# Preencher matriz com zeros:
matriz = []

matriz = [[0 for j in range (4)] for i in range (4)]

print (matriz)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# Preencher cubo com zeros:
cubo = []

cubo = [[[0  for k in range (4)]  for j in range (4)] for i in range (4)]

print (cubo[0])
print (cubo[1])
print (cubo[2])
print (cubo[3])

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# Imprimir como string, considerar 3 caracteres na representação do número, considerar um campo de 10 caracteres de posição.
print ('Valor......:%10.3s' % 1.128)
# Imprimir como inteiro, considerar 3 dígitos na representação do número, considerar um campo de 10 caracteres de posição.
print ('Valor......:%10.3d' % 1.128)
# Imprimir como float, arredondar para 2 casas decimais após a vírgula, considerar um campo de 10 caracteres de posição.
print ('Valor......:%10.2f' % 1.128)
# Imprimir como objeto, considerar 4 caracteres na representação do número, considerar um campo de 10 caracteres de posição.
print ('Valor......:%10.4r' % 1.128)

Valor......:       1.1
Valor......:       001
Valor......:      1.13
Valor......:      1.12

In [ ]:
num = 3
print (f'[{num : ^5}]', end='') # ^5 formata os números com 5 espaços
print (f'[{num : ^5}]', end='') # ^5 formata os números com 5 espaços
print()
print (f'[{num : ^5}]', end='') # ^5 formata os números com 5 espaços
print (f'[{num : ^5}]', end='') # ^5 formata os números com 5 espaços

[  3  ][  3  ]
[  3  ][  3  ]